<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PCI_design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <div>
      <center>
		<ul class="navbar">
			<li><a href="#" id="linkref">request</a></li>
			<li><a href="#" id="linkref">number of transaction</a></li>
			<li class="menu">
				<a href="#">DEVICES</a>
				<ul class="submenu">
					<li><a href="#" id="linkref">device1</a></li>
					<li><a href="#" id="linkref">device2</a></li>
					<li><a href="#" id="linkref">device3</a></li>
				</ul>
			</li>
			<a href="#" id="linkref">wave</a>

		</ul>
	</center>
		<div class="container">
			<h1>welcome to pci</h1>
			<p>you can choose the number of transaction and choose the device you want to beign</p>
		</div>
    </div>
  </body>
</html>
